<div class="row"> 

 <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="../../../assets/20210516_160601.jpg" id="fotodeperfil" class="img-">
 </div>


 

 
<div id="persona" class=" col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <p id="nombre">Pedro Paguaga</p>
    <p>Full Stack Developer Jr</p>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"><span>ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugit repellendus velit ea accusamus distinctio architecto illo hic quod fuga. Voluptatum provident culpa eos a tempore voluptas dignissimos vel iste.</span></div>
 </div>
</div>






